CREATE FUNCTION [dbo].[PersianToEnTime](@Date NVARCHAR(19))
RETURNS NVARCHAR(19)
AS
BEGIN
    DECLARE @PERSIAN_EPOCH AS INT;
    DECLARE @epbase AS BIGINT;
    DECLARE @epyear AS BIGINT;
    DECLARE @mdays AS BIGINT;
    DECLARE @jdn BIGINT;

    DECLARE @iYear INT   = CAST(SUBSTRING(@Date, 1, 4) AS INT);
    DECLARE @iMonth INT  = CAST(SUBSTRING(@Date, 6, 2) AS INT);
    DECLARE @iDay INT    = CAST(SUBSTRING(@Date, 9, 2) AS INT);

    DECLARE @Hour INT    = ISNULL(TRY_CAST(SUBSTRING(@Date, 12, 2) AS INT), 0);
    DECLARE @Minute INT  = ISNULL(TRY_CAST(SUBSTRING(@Date, 15, 2) AS INT), 0);
    DECLARE @Second INT  = ISNULL(TRY_CAST(SUBSTRING(@Date, 18, 2) AS INT), 0);

    IF @iYear >= 1404 SET @PERSIAN_EPOCH = 1948322;
    ELSE SET @PERSIAN_EPOCH = 1948321;

    IF LEN(@Date) >= 10
    BEGIN
        IF @iYear >= 0 SET @epbase = @iYear - 474;
        ELSE SET @epbase = @iYear - 473;

        SET @epyear = 474 + (@epbase % 2820);

        IF @iMonth <= 7
            SET @mdays = ((@iMonth - 1) * 31);
        ELSE
            SET @mdays = ((@iMonth - 1) * 30 + 6);
    END;

    SET @jdn = @iDay + @mdays
             + ((@epyear * 682) - 110) / 2816
             + (@epyear - 1) * 365
             + (@epbase / 2820) * 1029983
             + (@PERSIAN_EPOCH - 1);

    -- JDN به تاریخ میلادی (در SQL Base = 1900-01-01)
    DECLARE @BaseDate DATETIME = DATEADD(SECOND,
                                         (@Hour * 3600) + (@Minute * 60) + @Second,
                                         DATEADD(DAY, @jdn - 2415021, CAST('1900-01-01' AS DATETIME)));

    RETURN CONVERT(NVARCHAR(19), @BaseDate, 120); -- فرمت 24 ساعته
END;
